 .join{
    border: 1px solid saddlebrown;

    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f5fa;
    gap: 80px;
    position: relative;
 }
 .topjoin{
    margin-top: 20px;
   
    width: 89%;
    height: 270px;
    background-color: #efebf5;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
     
 }
 .topjoin1{
    width: 22.6%;
    height: 100px;
     
 }
 .topjoin2{
    width: 29.9%;
    height: 218px;
    display: flex;
    align-items: center;
    justify-content: center;
    
     
 }
 .topjoin2 img{
    width: 95%;
    height: 100%;
    object-fit: cover;
 }
 .topjoin1 p{
     
font-size: 40px;
font-weight: 600;
line-height: 50px;
text-align: left;
 color: #0A033C;

 }
 
 .patt3{
    width: 128px;
    height: 60px;
     
    position: absolute;
    top: 230px;
    left: 420px;

 }
 .patt3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .join2{
   width: 81.7%;
   height: 620px;
   border: 1px solid black;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.join21{
   width: 44.3%;
   border: 1px solid black;
   height: 100%;
    
  
    
   background-color: #FFDEDA;
   margin: 0px;
   padding-top: 65px;
   padding-left: 20px;
  

}

.join21 img{
    
      
   object-fit: cover;

  
}
.join22{
   width:51.6%;
   border: 1px solid rgb(192, 34, 34);
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   gap: 10px;

}
.join221{
   border: 1px solid rgb(192, 34, 34);
   width: 46.9%;
   height: 30px;
   
   font-size: 27px;
   font-weight: 600;
   line-height: 30px;
   text-align: left;
   color: #0A033C;


}
.join222{
   border: 1px solid rgb(192, 34, 34);
   width: 100%;
   height: 120px;
    
   font-size: 16px;
   font-weight: 400;
   line-height: 30px;
   text-align: left;
   color: #5D5A6F;


}
.join223{
   border: 1px solid black;
   display: flex;
   flex-direction: column;
   width: 56.4%;
   height: 180px;
}
.join22 button{
   width: 23.5%;
   height: 54px;
   
 
   border-radius: 10px 10px 10px 10px;
   opacity: 0px;
   color: white;
   background-color: #9C4DF4;
   border: none;

}
 
 
 