.shop {
   
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f5fa;
  gap: 30px;
  position: relative;
}

.books {
   
  width: 89%;
  height: 1359px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 80px;
}
.booksleft {
  width: 34%;
   
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.booksright {
  width: 65%;
   
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: space-between;

  /* hadiiiiiiiiiii 2@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
}
.booksright1 {
  width: 100%;
   
  height: 60px;

  display: flex;
  gap: 17px;
}
.booksright2 {
  width: 100%;
   
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.booksright3 {
  width: 100%;
  
  height: 1085px;

  display: flex; /* Correction: pas de guillemets */
  flex-wrap: wrap; /* Correction: pas de guillemets et ajout du point-virgule */
}

.booksright4 {
  width: 33%;
   
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.boo{background-color: white;
    color: #0a033c;
  background-color: white;
    color: #0a033c;
  background-color: white;
    color: #0a033c;
  background-color: white;
    color: #0a033c;


}
.boo1{
    background-color: #FF6652;
    color: white;
  


}
.booksright1 button:nth-child(1) {
   border: none;
  width: 15.6%;
  height: 60px;
  
  font-weight: 600;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.booksright1 button:nth-child(2) {
  border: none;
  
  width: 18%;
  height: 60px;
  
  font-weight: 600;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.booksright1 button:nth-child(3) {
  border: none;
   
  width: 18%;
  height: 60px;
  
  font-weight: 600;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.booksright1 button:nth-child(4) {
  border: none;
   
  width: 14.2%;
  height: 60px;
  
  font-weight: 600;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.booksright21 {
  width: 66%;
  height: 100%;

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.booksright21 input {
  width: 100%;
  height: 100%;
  border: none;
}
.booksright22 {
  width: 32%;
  height: 100%;
  border: 1px solid black;

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.ser img {
  width: 40px;
  height: 40px;
}
.ser {
  position: absolute;
  right: 254px;
  top: 7px;
}
.bookbox {
  width: 32.1%;
  height: 345px;
  
  margin-left: 8px;
}
.bookimage {
  width: 100%;
  height: 280px;
  border: 20px solid rgb(255,255, 255);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: hsl(0, 40%, 96%);
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.bookimage img {
  width: 68%;
  height: 180px;
}
.tit {
  font-size: 18px;
  font-weight: bold;
  color: #0a033c;
}
.bookpricerate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   
  
  
}
 .riq{
  
  display: flex;

 }
.titprirat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   
  height: 65px;
}
.booksright4 button {
  width: 17%;
  height: 40px;
   
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.booksright4 button:nth-child(1) {
  background-color: #F2E5FF;
}
.booksright4 button:nth-child(2) {
    background-color: #492270;
     
  }
  .booksright4 button:nth-child(3) {
    background-color: white;
     
  }
  .booksright4 button:nth-child(4) {
   background-color: white;
  }
  .booksright4 button:nth-child(5) {
    background-color: #9C4DF4;
     
  }

 
.booksright4 img {
  width: 20px;
  height: 20px;
}
.booksleft1 {
  
  width: 100%;
  height: 540px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.booksleft1 img{
  width: 100px;
  height: 100px;
}
.popularbookitem{
  width: 100%;
  height: 140px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: white;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  

}
.popularbookitemimg{
  width: 18.9%;
  height: 90px;
  
  background-color: rgb(249,241,241);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.popularbookitemimg img{
  width: 70%;
  height: 90%;

}
.popularbookitemimgpara{
   
  height: 90px;
  width: 57%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   
   
   

}
.popularbookitemimgpara p:nth-child(1){
   
  display: flex;
  
  width: 20%;
}
 
 




.par{
  color:  #0A033C;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  
}

.para1{
   
font-size: 18px;
font-weight: 600;
line-height: 20px;
 
color: #0A033C;

}
.para2{
   
font-size: 18px;
font-weight: 600;
line-height: 20px;
color: #FF6652;
 


}


.booksleft2 {
  
  width: 100%;
  height: 540px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.topshop {
  margin-top: 20px;
   
  width: 89%;
  height: 270px;
  background-color: #efebf5;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  
}
.topshoptitre{
  width: 21.7%;
  height: 100px;
   
   
font-size: 40px;
font-weight: 600;
line-height: 50px;
text-align: left;
color: #0A033C;

}
.topshopimage{
  width: 29.2%;
  height: 210px;
   

}
.topshopimage img{
  width: 100%;
  height: 100%;
}
.topshop1{
  position: absolute;
  top: 40px;
  left: 90px;
 color: #0A033C66;
font-size: 16px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.03em;
text-align: left;


}
.toppp{
  color: #9C4DF4;
}
 
